body {
  margin: 0;
  background-image: url(../images/Background.svg);
  backdrop-filter: blur(3px);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.Cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.Frontside {
  color: white;
  background-color: rgba(36, 38, 47, 1);
  border-radius: 2rem;
  width: 25rem;
  height: 15rem;
  filter: drop-shadow(0 0 0.5rem black);
}

.logosmall {
  display: none;
}

.Frontinside {
  padding-left: 5%;
  padding-right: 2%;
  padding-bottom: 2%;
}

.Backside {
  color: white;
  background-color: rgba(36, 38, 47, 1);
  width: 25rem;
  height: 15rem;
  filter: drop-shadow(0 0 0.5rem black);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  border-left: 2em solid rgba(148, 212, 249, 1);
  border-right: 2em solid rgba(46, 83, 216, 1);
}

.Name {
  background-color: rgba(46, 83, 216, 1);
  padding: 2%;
  border-radius: 2rem 2rem 0 0;
  text-align: center;
}

.Number {
  margin-top: 1.5rem;
}

.Adress {
  margin-top: 1.5rem;
}

@media only screen and (max-width: 1024px) {
  body {
    background-image: url(../images/Backgroundsmall.svg);
  }
}

@media only screen and (max-width: 540px) {
  .Frontside {
    width: 21rem;
    height: 13rem;
  }

  .logosmall {
    display: block;
  }

  .Name {
    font-size: 1.5rem;
  }

  .Number {
    font-size: 0.7rem;
  }
  .Mail {
    font-size: 0.7rem;
  }
  .Adress {
    font-size: 0.7rem;
  }
  .logo {
    display: none;
  }
  .Backside {
    width: 21rem;
    height: 13rem;
  }
}
