body{
    margin: 0;
    background-image: url(../images/Background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.Frontside{
    color: white;
    background-color: rgba(36, 38, 47, 1);
    border-radius: 2rem;
    width: 25rem;
    height: 15rem;
    margin-left: 40%;
    margin-bottom: 5%;
    margin-top: 10%;
    filter: drop-shadow(0 0 0.5rem black);
}

.Frontinside{
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%; 
}

.Backside{
    color: white;
    background-color: rgba(36, 38, 47, 1);
    width: 25rem;
    height: 15rem;
    margin-left: 40%; 
    filter: drop-shadow(0 0 0.5rem black);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    border-left: 2em solid rgba(148, 212, 249, 1);
    border-right: 2em solid rgba(46, 83, 216, 1);
}

.Name{
    background-color: rgba(46, 83, 216, 1);
    padding: 2%;
    border-radius: 2rem 2rem 0 0;
}